	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>{% block title %}Welcome!{% endblock %}</title>
			<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
			<link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">
			<link rel="stylesheet" href="moncss.css">
			{% block stylesheets %}
				{{ encore_entry_link_tags('app') }}
			{% endblock %}
=
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
		</head>
		<body>
		       <style>
                 body {
                background-image: url("https://cdn.pixabay.com/photo/2014/09/20/13/54/periphaerie-453793__480.jpg");
				background-size: cover;
                 }
               </style>

			<div class="profile">
				<img src="MYXJ_20171030161212_save.jpg" alt="profile photo" width="150" height="150" />
			</div>

			<section class="page-content">
				<header>
					<h1>Hello, I am Meurphy Biahouila student in first year BUT RT at the I.U.T of Roanne.</h1>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
					<a class="nav-link active" href="/accueil">Accueil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/formulaire">Formulaire</a>
				</li>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/curriculum vitae">curriculum vitae</a>
				</li>
					<li class="nav-item">
					<a class="nav-link" href="/cv">Télecharger le CV</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="/portfolio">Portfolio</a>
					</li>
				</ul>
				</div>
			</div>
			</nav>
			{% block body %}{% endblock %}
		</body>
	</html>
