{% extends 'base.html.twig' %}

{% block title %}Hello MeurphyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<button type="button" class="btn btn-primary" onclick="window.location.href = 'http://127.0.0.1:8000/loisirs';">Learn more </button>
</div>
    <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="big-text">There are no limits to what you can achieve, except for the ones you set for yourself, Success is a combination of talent, hard work, seizing opportunities and perseverance.</p>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>52 Boulevard de Belgique<br>
        Roanne, 42300<br>
        <br>
        Tel: (+33) 7 52 39 01 67<br>
        Email: biahouilameurphy@gmail.com</p>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
