<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Congo-Brazzaville  - Meurphy BIAHOUILA</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
</head>
<body>
  <nav>
    <h1>Congo-Brazzaville</h1>
    <div class="onglets">
      <a href="#">Home</a>
      <a href="#">Formations</a>
      <a href="#">Articles</a>
    </div>
  </nav>
  
  <section class="articles">
    
     <div class="article">
      <div class="left">
        <img src="https://previews.123rf.com/images/zloyel/zloyel1512/zloyel151200160/49457232-le-drapeau-national-de-la-r%C3%A9publique-du-congo-congo-brazzaville.jpg">
      </div>
      <div class="right">
        <p class="date">06 Decembre 2021</p>
        <h1>Signification des Couleurs du Drapeau Congolais</h1>
        <p class="description">Le Drapeau de la République du Congo est le drapeau national et le pavillon national du Congo-Brazzaville. Le drapeau actuel a été adopté le 18 août 1958, puis abandonné et remplacé en 1970 par un drapeau marqué du socialisme, fortement inspiré du drapeau soviétique, jusqu'au 10 juin 1991 lorsqu'il est réadopté.

          Ces couleurs sont celles traditionnelles du panafricanisme, et proviennent du drapeau éthiopien : le rouge symbolisant la lutte de liberté ; le vert la nature du pays ; et le jaune les richesses naturelles de la nature.</p>
        <p class="auteur">Meurphy BIAHOUILA</p>
      </div>
    </div> 
    
    
    <div class="article">
      <div class="left">
        <img src="https://www.congomediatime.com/wp-content/uploads/2020/07/Brazza_la_verte-759x440-1.jpg">
      </div>
      <div class="right">
        <p class="date">06 Decembre 2021</p>
        <h1>Brazzaville</h1>
        <p class="description">Brazzaville (aussi désignée par les noms Nkuna, Mfwa, Mfua, Mfa, Mfoa, Ntamo, Kintamo, Mavula, Kintambo ou Tandala ) est la capitale politique et administrative, ainsi que la ville la plus peuplée de la République du Congo. Elle fut la capitale de la France libre de 1940 à 1942 et de l'Afrique-Équatoriale française de 1910 à 1958. Elle compte 1 838 348 habitants en 2017. Ses habitants sont appelés les Brazzavillois.</p>
        <p class="auteur">Meurphy BIAHOUILA</p>
      </div>
    </div>
    
    <div class="article">
      <div class="left">
        <img src="https://i.pinimg.com/originals/f0/a7/94/f0a7948b3b477577799a20b1a035b7b3.jpg">
      </div>
      <div class="right">
        <p class="date">06 Decembre 2021</p>
        <h1>Pointe-Noire</h1>
        <p class="description">Pointe-Noire est la capitale économique de la République du Congo, située à l’extrême sud du pays. Sise à l'ouest de l'Afrique, sur la façade atlantique, la ville constitue le débouché naturel d'un axe de communication prépondérant entre l’Afrique centrale et les eaux internationales ; à ce titre, elle représente pour la République du Congo un poumon économique alimenté par l'activité du terminal pétrolier de Djeno et de son port en eau profonde.</p>
        <p class="auteur">Meurphy BIAHOUILA</p>
      </div>
    </div>

    <div class="article">
      <div class="left">
        <img src="https://jeminformetv.files.wordpress.com/2018/07/maxresdefault2.jpg">
      </div>
      <div class="right">
        <p class="date">06 Decembre 2021</p>
        <h1>La Culture Congolaise</h1>
        <p class="description">La république du Congo, (environ 5 000 000 habitants), par la disposition même de son territoire, possède une grande variété de cultures, des savanes de la plaine du Niari aux forêts inondées du Nord, de l'immense fleuve Congo aux montagnes escarpées et forestières du Mayombe et aux 170 km de plages de la côte atlantique. La présence de nombreuses ethnies et jadis de diverses structures politiques (Empire Kongo, royaume de Loango, royaume Teke, chefferies du Nord) a doté le pays actuel d'une grande diversité de cultures traditionnelles et d'autant d'expressions artistiques anciennes : « fétiches à clous » Vili, statuettes bembes si expressives qui atteignent malgré leur petite taille à une sorte de monumentalité, masques étranges des Punu et des Kwele, reliquaires Kota, fétiches Téké, cimetières curieux, avec leurs tombeaux monumentaux, du pays Lari. Il faut y ajouter un patrimoine architectural colonial considérable, que les Congolais (environ cinq millions en 2017) redécouvrent aujourd'hui comme faisant partie de leur héritage historique (et de leur capital touristique) et restaurent plutôt bien, du moins à Brazzaville.</p>
        <p class="auteur">Meurphy BIAHOUILA</p>
      </div>
    </div>

    <div class="article">
      <div class="left">
        <img src="https://lesechos-congobrazza.com/images/2019/SAPEURS.jpg">
      </div>
      <div class="right">
        <p class="date">06 Decembre 2021</p>
        <h1>Les Sapeurs Congolais</h1>
        <p class="description">La transgression des codes vestimentaires européens, notamment au Congo, a commencé dès la fin du XIXe siècle. "Sortir ses griffes" est une expression courante de la "sapologie" . Il s'agit donc aussi d'une forme d'insoumission. Dans les années 1920, les autorités coloniales belges ou françaises ont pu effectuer des contrôles policiers sur les accoutrements vestimentaires… Dans le contexte post-colonial, les "sapeurs" immigrés en Europe aiment ne pas se "faire discrets" (ce que les sociétés occidentales leur demandent). La longue histoire de la SAPE (Societé des Ambianceurs et des Personnes Elégantes), de la colonisation aux migrations (XIXe-XXe siècles).</p>
        <p class="auteur">Meurphy BIAHOUILA</p>
      </div>
    </div>

    <div class="article">
      <div class="left">
        <img src="https://pbs.twimg.com/profile_images/698201210864668673/whR_aszN_400x400.png">
      </div>
      <div class="right">
        <p class="date">06 Decembre 2021</p>
        <h1>Le Chef d'Etat</h1>
        <p class="description">Denis Sassou-Nguesso est un militaire et chef d'etat dictateur congolais né en 1943 ( n'étant pas son vrai age ) à Edou. Président de la République populaire du Congo de 1979 à 1992, il est l'actuel président de la République du Congo depuis 1997, après avoir renversé le président élu Pascal Lissouba dans les premiers mois de la guerre civile du Congo-Brazzaville. Son retour au pouvoir en 1997 est reconnu par la communauté internationale.</p>
        <p class="auteur">Meurphy BIAHOUILA</p>
      </div>
    </div>

  </section>
  
  <footer>
    <h2>&copy; 2021, by Meurphy BIAHOUILA</h2>
    <div class="social-media">
      <p><i class="fab fa-facebook"></i></p>
      <p><i class="fab fa-twitter"></i></p>
      <p><i class="fab fa-instagram"></i></p>
      <p><i class="fab fa-whatsapp"></i></p>
    </div>
  </footer>
</body>
</html>