<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>curriculum vitae</title>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
    <main>
       <header>
                <div class="photo">
                    <img src="MYXJ_20171030161212_save.jpg" width="100%" height="100%" alt="">
                </div>
              <div class="des">
                    <h3>Meurphy BIAHOUILA</h3>
                    <p class="post">BUT Réseau et Télécommunications</p>
                </div>
                <div class="right">
                        <p><img src="mail.png" class="info">biahouilameurphy@gmail.com</p>
                        <p><img src="tele.png" class="info">(+33) 7 52 39 01 67</p>
                </div> 
       </header>


<section class="section-left">
    <h4>Objectifs</h4>
    <hr class="light">
     <div class="atouts">
         <div>Acquérir de l'expérience dans un domaine spécifique pour développer mes compétences et ma carrière</div>
     </div>

     <h4>Formations</h4>
    <hr class="light">
       <div class="div">
           <div><b>BUT en réseau et Télécommunications <br> </b><strong>Université Jean monnet de Saint-Etienne <br></strong>IUT de Roanne <br> 2022-2023
           </div>
       </div>

    <h4>Expériences professionnelles</h4>
     <hr class="light">
        <div class="div">
          <p><b>Stagiaire en systèmes de sécurité<br> </b> <strong>Manu Télécom <br>Congo-Brazzaville</strong><br>
          </p>
        </div>
</section>

<section class="section-right">
    <h4>Competences</h4>
    <hr class="light">
      <div class="skls">

                <div class="po">
                    <p>html, css</p>
                    <div class="cool">
                        <div style="width:70%" class="inner"></div>
                    </div>
                </div>

                <div class="po">
                    <p>Réseaux locaux et équipéments actifs</p>
                    <div class="cool">
                        <div style="width:85%" class="inner"> </div>
                    </div>
                </div>


                <div class="po">
                    <p>Bases fondamentaux de linux</p>
                    <div class="cool">
                        <div style="width:70%" class="inner"> </div>
                    </div>
                </div>
                <div class="po">
                    <p>Soudure Fibre Optique</p>
                    <div class="cool">
                        <div style="width:90%" class="inner"> </div>
                    </div>
                </div>
            </div>


     <h4>Langues</h4>
     <hr class="light">
     <div class="skls">
         <div class="po">
                    <p>Français</p>
                    <div class="cool">
                        <div style="width:90%" class="inner"> </div>
                    </div>
                </div>
                <div class="po">
                    <p>Anglais</p>
                    <div class="cool">
                        <div style="width:40%" class="inner"> </div>
                    </div>
                </div>

    <h4>Centres d'intérêt</h4>
     <hr class="light">
     <div class="interet">
          <div><b>Sport</b></div>
          <div><b>Musique</b></div>
     </div>
</section>


        <div class="srkl">

        </div>
     <hr class="light">
    </main>
</body>

</html>
