<! DOCTYPE html>
<html>
<head>
 <title></title>
 <meta name="vieuwport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="moncss.css">
 <link href="https://fonts.googleapis.com/icon?family=Master+Icons" rel="stylesheet">

 </head>
 <body>

 <div class="main">
   <div class="left">
    <br>
     <div class="profile-img"><img src="MYXJ_20171030161212_save.jpg"></div>

     <div class="box-1">
      <div class="heading">
        <p>Contact</p>
      </div>
      <p class="p1"><i class="marterial-icons icons1">call</i>+123-324-5555</p>
      <p class="p1"><i class="marterial-icons icons1">email</i>gfss@gg</p>
      </div>

      <div class="box-1">
      <div class="heading">
        <p>Languages</p>
      </div>

      <p class="p1">html
      <div class="skill-container">
        <div class="skill html"></div>
       </div>
       </p>

       <p class="p1">CSS
      <div class="skill-container">
        <div class="skill css"></div>
       </div>
       </p>

       <p class="p1">javascripts
      <div class="skill-container">
        <div class="skill js"></div>
       </div>
       </p>

       <p class="p1">JQuery
      <div class="skill-container">
        <div class="skill jquery"></div>
       </div>
       <br>

        <div class="box-1">
      <div class="heading">
        <p>SKILLS</p>
      </div>

      <p class="p1">WEBSITE DESIGN
      <div class="skill-container">
        <div class="skill web"></div>
       </div>
       </p>

       <p class="p1">GRAPHIC DESIGN
      <div class="skill-container">
        <div class="skill gra"></div>
       </div>
       </p>

       </div>

       <div class="box-1">
      <div class="heading">
        <p>HOBBIES</p>
      </div>
       
       <div class="h-div">
        <i class="material-icons icons2">camera_rool</i>
        <i class="material-icons icons2">music_note</i>
        <i class="material-icons icons2">camera_rool</i>
        <i class="material-icons icons2">camera_rool</i>

       </div>

       </div>

       </div>
       <div class="right">
       <div class="name-div">
         <h1> BIAHOUILA Meurphy</h1>
         <p>WEBSITE DESIGNER</p>
        </div>

        </div>
        
        <div class="b0x-2">
        <h2> About Me <i class="material-icons" style="font-size: 28px ! important;
        ">perm_identity</i></h2>
        <p class="p2">
        ggggg
        </p>

        </div>
          



       </p>
      