    <! DOCTYPE html>
    <html>
    <head>
    <title></title>
    <meta name="vieuwport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="moncss.css">
    <link href="https://fonts.googleapis.com/icon?family=Master+Icons" rel="stylesheet">

    </head>
    <body>

    <div class="main">
    <div class="left">
        <br>
        <div class="profile-img"><img src=""></div>

        <div class="box-1">
        <div class="heading">
            <p>Contact</p>
        </div>
        <p class="p1"><i class="material-icons icons1">call</i>+123-324-5555</p>
        <p class="p1"><i class="material-icons icons1">email</i>gfss@gg</p>
        </div>

        <div class="box-1">
        <div class="heading">
            <p>Languages</p>
        </div>

        <p class="p1">html
        <div class="skill-container">
            <div class="skill html"></div>
        </div>
        </p>

        <p class="p1">CSS
        <div class="skill-container">
            <div class="skill css"></div>
        </div>
        </p>

        <p class="p1">javascripts
        <div class="skill-container">
            <div class="skill js"></div>
        </div>
        </p>

        <p class="p1">JQuery
        <div class="skill-container">
            <div class="skill jquery"></div>
        </div>
        <br>

            <div class="box-1">
        <div class="heading">
            <p>SKILLS</p>
        </div>

        <p class="p1">WEBSITE DESIGN
        <div class="skill-container">
            <div class="skill web"></div>
        </div>
        </p>

        <p class="p1">GRAPHIC DESIGN
        <div class="skill-container">
            <div class="skill gra"></div>
        </div>
        </p>

        </div>

        <div class="box-1">
            <div class="heading">
                <p>HOBBIES</p>
            </div>
        
            <div class="h-div">
                <i class="material-icons icons2">camera_roll</i>
                <i class="material-icons icons2">music_note</i>
                <i class="material-icons icons2">camera_roll</i>
                <i class="material-icons icons2">camera_roll</i>

            </div>

        </div>

    </div>
    <head>
        <style>
           .right{
          text-align: right;
         }
        </style>
    </head>
    <body>

        <div class="right">
         {#<div class="name-div">#}
           <h1>BIAHOUILA MEURPHY</h1>
        </div>
</div>



</body>
</html>