{% extends 'base.html.twig' %}

{% block title %}Hello MeurphyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
</div>
<head>
    <title>Curriculum Vitae</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="cv.css">
</head>
<body>
    <header>
        <h1>Curriculum Vitae</h1>
    </header>
    
    <section>
        <div class="prez">
            <h2>Who I'am?</h2>
            <a href="Meurphy.pdf.pdf" download>Download my resume</a>
        </div>
        <div class="contact">
            <h2>My Contact Details</h2>
            <div class="contact-flex">
                <p>Name : </p>
                <p>Meurphy BIAHOUILA</p>
            </div>
            <div class="contact-flex">
                <p>Adresse : </p>
                <p>42300 Roanne 4 Rue charle de gaulle</p>
            </div>
            <div class="contact-flex">
                <p>Phone number :</p>
                <p>07 52 39 01 67</p>
            </div>
            <div class="contact-flex">
                <p>Mail : </p>
                <p><a href="mailto:pierre.giraud@edhec.com">biahouilameurphy@gmail.com</a></p>
            </div>
    </section>
{% endblock %}