{% extends 'base.html.twig' %}

{% block title %}Hello MeurphyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<!DOCTYPE html>
<html>
<head>
  <title>Formulaire a remplir </title>
</head>
<body>
  <h1>Titre de la page</h1>
  <p>Contenu de la page</p>
</body>
</html>
