{% extends 'base.html.twig' %}

{% block title %}Hello MeurphyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<!DOCTYPE html>
<html>
<head>
  <title>Formulaire a remplir </title>
</head>
<body>
  <form action="submit-form.php" method="post">
  <label for="name">Nom :</label>
  <input type="text" id="name" name="name" required>

  <label for="email">Email :</label>
  <input type="email" id="email" name="email" required>

  <label for="message">Message :</label>
  <textarea id="message" name="message" required></textarea>

  <input type="submit" value="Envoyer">
</form>

</body>
</html>
