{% extends 'base.html.twig' %}

{% block title %}Hello NassirController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Loisirs </h1>
</div>
    <section>
        <h2>My Passion</h2>
        <figure class="interet">
            <img src="https://www.pierre-giraud.com/wp-content/uploads/2019/07/trail.png" alt="Football">
            <figcaption>Football</figcaption>
        </figure>
        <figure class="interet">
            <img src="https://www.pierre-giraud.com/wp-content/uploads/2019/07/cuisine.jpg" alt="Food">
            <figcaption>Food</figcaption>
        </figure>
        <figure class="interet">
            <img src="https://www.pierre-giraud.com/wp-content/uploads/2019/07/gaming.jpg" alt="Gaming">
            <figcaption>Gaming</figcaption>
        </figure>
        <figure class="interet">
            <img src="https://cdn.pixabay.com/photo/2015/08/18/14/15/black-belt-894190_960_720.jpg" alt="Martial Arts">
            <figcaption>Martial Arts</figcaption>
        </figure>
    </section>
{% endblock %}
