<!DOCTYPE html>
<html>
<head>
<title>Contacter nous</title>
<meta name="viewport" content="
width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
 <div class="container">
  <div class="contact-box">
   <div class="left"></div>
   <div class="right">
     <h2> Contacter Nous </h2>
     <input type="text" class"=field" placeholder="Meurphy BIAHOUILA">
     <input type="email" class="field" placeholder="biahouilameurphy@gmail.com">
     
