{% extends 'base.html.twig' %}

{% block title %}Hello MeurphyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>PORTFOLIO  </h1>
</div>
 <section>
        <h2>Compétences</h2>
        <h3 class="h3gauche">Administrer les Réseaux et l'internet</h3>
        <div class="comp">
            <p>Initiation aux réseaux informatiques</p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <div class="comp">
            <p>Se Sensibiliser à la cybersécurité </p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <div class="comp">
            <p>S'initier aux réseaux informatiques </p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <div class="comp">
            <p>Principe et Architecture réseaux</p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <div class="comp">
            <p>Réseaux locaux et équipements actifs</p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <div class="comp">
            <p>Architecture système numérique et informatique</p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <div class="comp">
            <p>Anglais de communication et initiation au vocabulaire technique</p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <h3 class="h3gauche">Personnalité</h3>
        <div class="comp2">
            <p>Créativité</p>
            <p>80%</p>
            <div class="conteneur-barre2"><span class="barre c85"></span></div>
        </div>
        <div class="comp2">
            <p>Adaptation</p>
            <p>80%</p>
            <div class="conteneur-barre2"><span class="barre c85"></span></div>
        </div>
        <div class="comp2">
            <p>Sérieux</p>
            <p>90%</p>
            <div class="conteneur-barre2"><span class="barre c95"></span></div>
        </div>
        <div class="comp2">
            <p>Pédagogie</p>
            <p>80%</p>
            <div class="conteneur-barre2"><span class="barre c85"></span></div>
        </div>
{% endblock %}
