{% extends 'base.html.twig' %}

{% block title %}Hello NassirController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>PORTFOLIO  </h1>
</div>
 <section>
        <h2>Compétences</h2>
        <h3 class="h3gauche">Administrer les Réseaux et l'internet</h3>
        <div class="comp">
            <p>R101 Init réseaux inform</p>
            <div class="conteneur-barre"><span class="barre c50"></span></div>
        </div>
        <div class="comp">
            <p>SAE11 Sensib info cyberséc</p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <div class="comp">
            <p>SAE12 S'initier rés inform </p>
            <div class="conteneur-barre"><span class="barre c70"></span></div>
        </div>
        <div class="comp">
            <p>R102 Architec réseaux</p>
            <div class="conteneur-barre"><span class="barre c60"></span></div>
        </div>
        <div class="comp">
            <p>R103 Réseaux locaux</p>
            <div class="conteneur-barre"><span class="barre c50"></span></div>
        </div>
        <div class="comp">
            <p>R104 Fondam syst électron</p>
            <div class="conteneur-barre"><span class="barre c90"></span></div>
        </div>
        <div class="comp">
            <p>R106 Archi syst num info</p>
            <div class="conteneur-barre"><span class="barre c45"></span></div>
        </div>
                <div class="comp">
            <p>R108 Bases syst exploit</p>
            <div class="conteneur-barre"><span class="barre c60"></span></div>
        </div>
        <div class="comp">
            <p>SAE16 Portfolio</p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <h3 class="h3gauche">Personnelles</h3>
        <div class="comp2">
            <p>Créativité</p>
            <p>90%</p>
            <div class="conteneur-barre2"><span class="barre c90"></span></div>
        </div>
        <div class="comp2">
            <p>Adaptation</p>
            <p>85%</p>
            <div class="conteneur-barre2"><span class="barre c85"></span></div>
        </div>
        <div class="comp2">
            <p>Sérieux</p>
            <p>95%</p>
            <div class="conteneur-barre2"><span class="barre c95"></span></div>
        </div>
        <div class="comp2">
            <p>Pédagogie</p>
            <p>95%</p>
            <div class="conteneur-barre2"><span class="barre c95"></span></div>
        </div>
{% endblock %}
